<!-- START Sidebar (left)-->
<div class="aside-inner" ng-controller="AsideCtrl">
    <nav data-sidebar-anyclick-close="" class="sidebar">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- START user info-->
            <li class="has-user-block">
                <div id="user-block" class="collapse">
                    <div class="item user-block">
                        <!-- User picture-->
                        <div class="user-block-picture">
                            <div class="user-block-status">
                                <img src="images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle">
                                <div class="circle circle-success circle-lg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- END user info-->
            <!-- Iterates over all sidebar items-->
            <li class=" ">
                <a data-target="#dashboard" title="Dashboard" data-toggle="collapse">
                    <em class="icon-basket"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">缴费管理</span>
                </a>
                <ul id="dashboard" class="nav sidebar-subnav collapse" ng-class="name == 'history' || name == 'surplus' || name == 'account' || name == 'meterreading' ?'in':''">
                    <li ng-show="validateAccess('history')">
                        <a href="./#/history" ng-class="{'active':name == 'history'}">
                            <span>水电费缴费记录</span>
                        </a>
                    </li>
                    <li class=" " ng-show="validateAccess('account')">
                        <a href="./#/account" ng-class="{'active':name == 'account'}">
                            <span>对账单</span>
                        </a>
                    </li>
                    <li class=" " ng-show="validateAccess('meterreading')">
                        <a href="./#/meterreading" ng-class="{'active':name == 'meterreading'}">
                            <span>水电费录入</span>
                        </a>
                    </li>                    
                       <li class=" " ng-show="validateAccess('surplus')">
                        <a href="./#/meterreadingsurplus" ng-class="{'active':name == 'surplus'}">
                            <span>水电费录入</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class=" " ng-show="validateAccess('statistics')">
                <a data-target="#elements" title="Elements" data-toggle="collapse">
                    <em class="icon-pie-chart"></em>
                    <span data-localize="sidebar.nav.element.ELEMENTS">统计</span>
                </a>
                <ul id="elements" class="nav sidebar-subnav collapse" ng-class="name == 'statistics' || name == 'ranking' ?'in':''">
                    <li class=" ">
                        <a href="./#/statistics" ng-class="{'active':name == 'statistics'}">
                            <span data-localize="sidebar.nav.element.BUTTON">楼栋缴费统计明细</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="./#/ranking" ng-class="{'active':name == 'ranking'}">
                            <span data-localize="sidebar.nav.element.NOTIFICATION">用电量统计排行</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class=" ">
                <a data-target="#forms" title="Forms" data-toggle="collapse">
                    <em class="icon-settings"></em>
                    <span data-localize="sidebar.nav.form.FORM">设置</span>
                </a>
                <ul id="forms" class="nav sidebar-subnav collapse" ng-class="name == 'payset' || name == 'building' || name == 'accessconfig'?'in':''">
                    <li class=" " ng-show="validateAccess('payset')">
                        <a href="./#/payset" ng-class="{'active':name == 'payset'}">
                            <span data-localize="sidebar.nav.form.STANDARD">缴费模式设置</span>
                        </a>
                    </li>
                    <li class=" " ng-show="validateAccess('building')">
                        <a href="./#/building" ng-class="{'active':name == 'building'}">
                            <span data-localize="sidebar.nav.form.EXTENDED">楼栋寝室设置</span>
                        </a>
                    </li>
                    <li class=" " ng-show="validateAccess('accessconfig')">
                        <a href="./#/accessconfig">
                            <span data-localize="sidebar.nav.form.VALIDATION">基础设置</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class=" " ng-show="validateAccess('manage')">
                <a href="./#/manage" >
                    <em class="icon-star"></em>
                    <span>学校管理</span>
                </a>
            </li>
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->
